@model IEnumerable<ChitChatChew.Models.Entities.ContactTicket>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.senderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senderEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senderPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ticketText)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.senderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senderEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senderPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ticketText)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
