@{
    ViewBag.Title = "Contact";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Caveat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&amp;subset=vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/css/contactusdemo.css">
</head>
<body style="overflow-x: hidden;">
    <nav class="navbar navbar-default navbar-color">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="border-width: 0px; background-color: #00C4AB;">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="active" href="@Url.Action("Index","Home")">
                    <img class="brand-img" alt="Brand" src="~/Content/Icons/brand.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="border-width: 0px;">
                <ul class="nav navbar-nav navbar-right">
                    <li id="active"><a href="@Url.Action("Contact","Home")"><i class="fas fa-headset"></i>Contact Us <span class="sr-only">(current)</span></a></li>
                    <li><a href="@Url.Action("Login","Users")"><i class="fas fa-sign-in-alt"></i>Sign in</a></li>
                    <li><a href="@Url.Action("Signup","Users")"><i class="fas fa-user-plus"></i>Create an account</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="background-image">
        <img src="~/Content/Images/background.jpg">
    </div>
    <!-- <div class="background-image-filter"></div> -->
    <div class="row">
        <div style="text-align: center;">
            <a href="@Url.Action("Index","Home")" style="text-decoration: none;">
                <img src="~/Content/Icons/brand-color.png" alt="ChitChatChew logo" style="margin-left: 10px; height:70px; width:100px;">
                <h2 class="yellowText brandText" style=" margin-top: -5px; font-weight: bold">ChitChatChew</h2>
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="background-color: rgba(3,122,104,0.25);">
            <div class="col-md-2"></div>
            <div class="col-ms-3" style="background-color: rgba(0,0,0,0.6); text-align: center; margin: 20px 50px; border-radius:70px 70px 70px 70px">
                <form method="post">
                    <h1 class="yellowText brandText" style="margin-top: 10px; margin-bottom: 30px;">Contact Us</h1>
                    <div class="row">
                        <div class="col-md-3" style="margin: 0px 10px; margin-left: 60px;">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" name="name" placeholder="Enter your name" class="form-control" id="nameInput" onfocus="this.placeholder=''" onblur="this.placeholder='Enter your name'">
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" placeholder="Enter your email" class="form-control" id="emailInput" onfocus="this.placeholder=''" onblur="this.placeholder='Enter your email'">
                            </div>
                            <div class="form-group">
                                <label for="telephone">Telephone</label>
                                <input type="tel" name="phone" placeholder="Enter your telephone" class="form-control" id="telephoneInput" onfocus="this.placeholder=''" onblur="this.placeholder='Enter your telephone'">
                            </div>
                        </div>
                        <div class="col-md-7 form-group" style="margin: 0px 60px;">
                            <label for="message">Message</label>
                            <textarea placeholder="Please describe your concerns here" name="message" class="form-control" id="concernInput" aria-describedby="emailHelp" onfocus="this.placeholder=''" onblur="this.placeholder='Please describe your concerns here'" style="height:200px"></textarea>
                        </div>

                    </div>

                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-lg form-btn" style="margin-bottom: 10px;">Send</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div style="text-align: center">
        <a href="@Url.Action("Login","Users")" id="centerSmall" class="yellowText " style="margin-right: 60px; margin-left: 30px; font-size: 1.5em; display: inline-block;">Sign in</a>
        <a href="@Url.Action("Signup","Users") id="centerSmall" class="yellowText" style="margin-left: 60px; font-size: 1.5em;display: inline-block;">Create an account</a>
    </div>
</body>
<footer class="footer">
    <div class="col-md-4" style="text-align: center; margin-top: 15px; color: #FFD358; font-family: 'Caveat', cursive; font-size:1.5em;">Address: 123 Something Street</div>
    <div class="col-md-4" style="text-align: center; margin-top: 15px; color: #FFD358; font-family: 'Caveat', cursive;font-size:1.5em;">Telephone: 123456789</div>
    <div class="col-md-4" style="text-align: center; margin-top: 15px; color: #FFD358; font-family: 'Caveat', cursive;font-size:1.5em;">Email: somethingsomething@gmail.com</div>
</footer>
</html>